{% load static %} 
<!-- <link rel="stylesheet" href="{% static 'home/result-style.css' %}"> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AI Review</title>
    <link rel="stylesheet" href="{% static 'home/airev-style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'home/favicon.ico' %}">
    <!-- FONT PART -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');</style>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="nav-left">
        <a href="{% url 'all-problem-list' %}" class="nav-title">bonsai<span class="dotty">.</span>code</a>
        <a href="/home/compiler" class="nav-link">Compiler</a>
        <a href="/home/dashboard" class="nav-link">Dashboard</a>
      </div>
      <div class="nav-right">
        <a href="/accounts/logout"><button class="logout-btn">Logout</button></a>
      </div>
    </nav>   
    <!-- PAGE -->
     
    <div class="execution-container">
        <h1 class="title">AI Review</h1>
        <button  onclick="history.back()" class="run-btn">Back to Problem</button>           
          <div class="content-box">
              <div class="box-content">
                <div class="markdown-output">{{ submission.output_data|safe }}</div>
              </div>
          </div>        
      </div> 
  </body>
</html>

