{% load static %} 
<!-- <link rel="stylesheet" href="{% static 'home/result-style.css' %}"> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AI Review</title>
    <link rel="stylesheet" href="{% static 'home/airev-style.css' %}">
    <!-- FONT PART -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="nav-left">
        <a href="/home/problems" class="nav-title">Problem Portal</a>
        <a href="/home/compiler" class="nav-link">Compiler</a>
        <a href="/home/dashboard" class="nav-link">Dashboard</a>
      </div>
      <div class="nav-right">
        <a href="/auth/logout"><button class="logout-btn">Logout</button></a>
      </div>
    </nav>   
    <!-- PAGE -->
     
    <div class="execution-container">
        <h1 class="title">AI Review</h1>
        <a href=""> <button class="run-btn">Back to Problem</button> </a>         
          <div class="content-box">
              <div class="box-content">
                <p><strong>Output:</strong> <pre>{{ submission.output_data }}</pre></p>
              </div>
          </div>        
        </div> 
      </div>
  </body>
</html>

