{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{% static 'home//favicon.ico' %}">
    <title>Problems Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="{% static 'home/problist_style.css' %}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap');
    </style>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="{% url 'all-problem-list' %}" class="nav-title">bonsai<span class="dotty">.</span>code</a>
        <a href="/home/compiler" class="nav-link">Compiler</a>
        
        <a href="/home/dashboard" class="nav-link">Dashboard</a>
        {% if user.role == 'setter' %}
        <a href="/home/create-combined" class="nav-link">Create Problem</a>
        {% endif %}        
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
      <!-- User is logged in -->
      <form method="post" action="/accounts/logout/" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout <span class="username-on-hover">({{ user.username }}) </span></button>
      </form>
      {% else %}
      <!-- User is not logged in -->
      <a href="/accounts/login" class="logout-btn">Login</a>
      {% endif %}
        <!-- <a href="/auth/logout/"><button class="logout-btn">Logout</button></a> -->
      </div>
    </nav>    

    <div class="outer-container">
      <h1>List Of Problems</h1>
      <div class="problem-container">
        <div class="table-header">
          <div class="header-item name-column">NAME</div>
          <div class="header-item difficulty-column">Difficulty</div>
        </div>
        <div class="problems-list">
          {% for prlls in all_prlls %}
          <div class="problem-row">
            <div class="problem-number">{{ forloop.counter }}.</div>
            <div class="problem-name">
              <a href="/home/problems/{{prlls.id}}/">{{prlls.prblmname}}</a>
            </div>
            <div class="problem-difficulty">
              <a href="{% url 'difficulty_problems' prlls.difficulty %}">
              <span class="difficulty-badge difficulty-{{prlls.difficulty|lower}}">
                {{prlls.difficulty|title}}
              </span>
            </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
