{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'home/edit-style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'home//favicon.ico' %}">
    <!-- FONT PART -->
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
    </style>
    <title>Edit Profile</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="nav-left">
        <a href="{% url 'all-problem-list' %}" class="nav-title">bonsai<span class="dotty">.</span>code</a>
        <a href="/home/compiler" class="nav-link">Compiler</a>
        <a href="/home/dashboard" class="nav-link">Dashboard</a>
      </div>
      <div class="nav-right">
        <a href="/accounts/logout"><button class="logout-btn">Logout</button></a>
      </div>
    </nav>  
    <!-- NAVBAR-->

    <!-- Page -->
     {% block content %}
    <div class="outer-container">
        <h1>Change Your Password</h1>
        <div class="form-section">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
                <div class="error-text" role="alert" style="margin-bottom: 20px;">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_old_password">Old Password <span class="required">*</span></label>
                        <input type="password" name="old_password" autocomplete="new-password"
                               required id="id_old_password"
                               placeholder="Enter Old Password"/>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password1">New Password <span class="required">*</span></label>
                        <input type="password" name="new_password1" autocomplete="new-password"
                               required id="id_new_password1"
                               placeholder="Enter New Password"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_new_password2">Confirm New Password <span class="required">*</span></label>
                        <input type="password" name="new_password2" autocomplete="new-password"
                               required id="id_new_password2"
                               placeholder="Confirm New Password"/>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary" id="reset">Update Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
</body>
</html>