{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Probelm Details Page</title>
    <link rel="stylesheet" href="{% static 'home/only-comp-style.css' %}">
    <!-- FONT PART -->
    <style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap');
</style>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="nav-left">
        <a href="{% url 'all-problem-list' %}" class="nav-title">bonsai<span class="dotty">.</span>code</a>
        <a href="/home/compiler" class="nav-link">Compiler</a>
        <a href="/home/dashboard" class="nav-link">Dashboard</a>
        {% if user.role == 'setter' %}
        <a href="/home/create-combined" class="nav-link">Create Problem</a>
        {% endif %}        
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
      <!-- User is logged in -->
      <form method="post" action="/accounts/logout/" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout <span class="username-on-hover">({{ user.username }}) </span></button>
      </form>
      {% else %}
      <!-- User is not logged in -->
      <a href="/accounts/login" class="logout-btn">Login</a>
      {% endif %}
        <!-- <a href="/auth/logout"><button class="logout-btn">Logout</button></a> -->
      </div>
    </nav>   
    <!-- PAGE -->
    <div class="Compiler">
      <form method="post">
      {% csrf_token %}
      <p>Language:</p>{{ passform.language }}
      <div class="code-container">
        {{ passform.code }}
      </div>
      <div class="input-container">
        <p>Input:</p>
        {{ passform.input_data }}
      </div>

        <button type="submit" name="RUN" class="run-btn">
          Run Code
        </button>
      </form>
    </div>
    <!-- <div class="headClass">
      <a href="http://127.0.0.1:8000/auth/logout"><button class="login-btn">Logout</button></a>
    </div> -->
  </body>
</html>
