{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Probelm Details Page</title>
    <link rel="stylesheet" href="{% static 'home/prblm-detail-style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'home//favicon.ico' %}">
    <!-- FONT PART -->
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap');
    </style>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="nav-left">
        <a href="{% url 'all-problem-list' %}" class="nav-title">bonsai<span class="dotty">.</span>code</a>
        <a href="/home/compiler" class="nav-link">Compiler</a>
        <a href="/home/dashboard" class="nav-link">Dashboard</a>
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
      <!-- User is logged in -->
      <form method="post" action="/accounts/logout/" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout <span class="username-on-hover">({{ user.username }}) </span></button>
      </form>
      {% else %}
      <!-- User is not logged in -->
      <a href="/accounts/login" class="logout-btn">Login</a>
      {% endif %}
        <!-- <a href="/auth/logout/"><button class="logout-btn">Logout</button></a> -->
      </div>
    </nav>   
    <!-- PAGE -->
    <div class="problems-container">
    <div class="topline">
        <div class="l"><h1>{{req_problem_id.prblmname}}</h1>
        <h4>Created by: {{req_problem_id.created_by}}</h4>
        </div>
        <div class="r">
            <div class="problem-difficulty">
                <a href="{% url 'difficulty_problems' req_problem_id.difficulty %}">
                    <span class="difficulty-badge difficulty-{{req_problem_id.difficulty|lower}}">
                        {{req_problem_id.difficulty|title}}
                    </span>
                  </a>
            </div>
        </div>
    </div>
    <hr>
    <h2>Probelm Statement:</h2>
    <p class="statement-container">
      {{req_problem_id.statement}}
    </p>
    <p class="statement-container">
      Sample Input Format:
      <br>
      <code>{{req_problem_id.sip}}</code><br>
      Sample Output Format:<br>
      <code>{{req_problem_id.sop}}</code>
    </p>
    </div>
    
    <div class="Compiler">
      <form method="post">
      {% csrf_token %}
      <p>Language:</p>{{ passform.language }}
      <div class="code-container">
        {{ passform.code }}
      </div>
      <div class="input-container">
        <p>Input:</p>
        {{ passform.input_data }}
      </div>
        <button type="submit" name="RUN" class="run-btn">
          Run Code
        </button>
        <button type="submit" name="SUBMIT" class="submit-btn">
          Submit
        </button>
        <button type="submit" name="AIREV" class="AI-btn">
          AI Review
        </button>
      </form>
    </div>  
  </body>
</html>
