{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Probelm Details Page</title>
    <link rel="stylesheet" href="{% static 'home/prblm-detail-style.css' %}">
    <!-- FONT PART -->
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@444&display=swap');
    </style>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="nav-left">
        <a href="/home/problems" class="nav-title">Problem Portal</a>
        <a href="/home/compiler" class="nav-link">Compiler</a>
        <a href="/home/dashboard" class="nav-link">Dashboard</a>
      </div>
      <div class="nav-right">
        <a href="/auth/logout"><button class="logout-btn">Logout</button></a>
      </div>
    </nav>   
    <!-- PAGE -->
    <div class="problems-container">
    <h1>{{req_problem_id.prblmname}}</h1>
    <h2>Probelm Statement:</h2>
    <p class="statement-container">
      {{req_problem_id.statement}}
    </p>
    </div>
    
    <div class="Compiler">
      <form method="post">
      {% csrf_token %}
      <p>Language:</p>{{ passform.language }}
      <div class="code-container">
        {{ passform.code }}
      </div>
      <div class="input-container">
        <p>Input:</p>
        {{ passform.input_data }}
      </div>
        <button type="submit" name="RUN" class="run-btn">
          Run Code
        </button>
        <button type="submit" name="SUBMIT" class="submit-btn">
          Submit
        </button>
        <button type="submit" name="AIREV" class="AI-btn" alt="Review your Code using AI">
          AI Review
        </button>
      </form>
    </div>
  </body>
</html>
