* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  }
  
 
  body {
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
  }

  
 .dotty {
    color : #40826d;
    font-weight: 900;
}
  
  .problems-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 50px;
    width: 595px;
    height: 465px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: white;
    transition: 0.3s ease;
    position: absolute;
    left: 12px;
    bottom: 27px;
    margin-top: 100px;
    justify-content: center;  
    align-items: center;
  }  
  
  .problems-container h1 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
  }

  .problems-container h2 {
    text-align: left;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .problems-container h3 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
  }
  /* DETAILS PAGE */

  .statement-container {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 50;
  }

  .Compiler {
    p {display:inline;}
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 25px;
    width: 595px;
    height: 465px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: white;
    transition: 0.3s ease;
    position: absolute;
    right: 12px;
    bottom: 27px;
    justify-content: center;  
    align-items: center;
  } 

   .code-container{
    margin-top: 10px;
    textarea {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    height: 230px;
    margin-bottom: 5px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    }
  }

  .input-container{
    margin-top: 10px;
    textarea {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    height: 60px;
    margin-bottom: 5px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    }
  }
  
  .footer-text {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer-text a {
    color: #00c6ff;
    text-decoration: none;
    font-weight: 500;
  }
  
  @media (max-width: 400px) {
    .login-container {
      width: 90%;
      padding: 30px;
    }
  }

  /* NAVBAR */
  .navbar {
    padding: 20px 40px;
    width: 98%;
    background: rgba(255, 255, 255, 0.1);
    margin: 8px auto;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .nav-link {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #00c6ff;
  }
  
  
  /* BUTTONS */
  .logout-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #4d4d5b; 
  color: white; 
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.logout-btn:hover {
  background: #e73b4e;
}

a.logout-btn:hover {
  background: #40826d; /* Green color for login hover */
}

.logout-btn .username-on-hover {
  display: none; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.logout-btn:hover .username-on-hover {
  display: inline;
  opacity: 1;
}

  .run-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-right: 10px;
    /* background: #1b639e; */
    background: #4d4d5b;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .run-btn:hover {
    /* background: #4d4d5b; */
    background: #1b639e;
  }

  .submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-right: 10px;
    /* background: #1b9e5f; */
    background: #4d4d5b;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-btn:hover {
    /* background: #4d4d5b; */
    background: #1b9e5f;
  }

  .AI-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-right: 10px;
    /* background: #c12424; */
    background: #4d4d5b;
    color: white;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative; /* Added for spinner positioning */
}

.AI-btn:hover {
    /* background: #4d4d5b; */
    background:#008080;
}
