* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  
  .outer-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 30px;  
    width: 98%;
    height: 450px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: white;
    transition: 0.3s ease;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
  }

  .problem-container {
    background-color: rgb(240, 255, 255, 0.2);
    border-radius: 16px;
    padding: 30px;
    padding-left: 4%;
    width: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: white;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
  }
  
  
  .outer-container h1 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
  }

  .outer-container h2 {
    text-align: left;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .outer-container h3 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
  }
  .problem-container li {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 230;
  }
  
  /* DETAILS PAGE */

  .statement-container {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 50;
  }

  .footer-text {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer-text a {
    color: #00c6ff;
    text-decoration: none;
    font-weight: 500;
  }
  
  @media (max-width: 400px) {
    .login-container {
      width: 90%;
      padding: 30px;
    }
  }
  .navbar {
    padding: 20px 40px;
    width: 98%;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 100;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .nav-link {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #00c6ff;
  }
  
  .logout-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #4d4d5b;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .logout-btn:hover {
    background: #e73b4e;
  }